# .gitignore

# Python
__pycache__/
*.pyc
venv/

# Node
node_modules/
build/
.npm/
npm-debug.log*

# Mac
.DS_Store

# Databases
backend/test.db
backend/tests.http

# ML Models & Artifacts
*.joblib

# Environment Variables
**/.env
